* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 15px;
    font-family: 'League Spartan', sans-serif;
}

body {
    background-color: $c_bg_body;
}