* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 15px;
    font-family: 'League Spartan', sans-serif;
    color: $c_txt_main;
}

body {
    background: url(../img/bg-pattern-top-mobile.svg) left top no-repeat, url(../img/bg-pattern-bottom-mobile.svg) right bottom no-repeat;
    background-color: $c_bg_body;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: calc(100% - 50px);
    margin: 12vh 0;

    .sections-wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
        

        .statement {
            margin-bottom: 2.5rem;

            h1 {
                font-size: 2.5rem;
                font-weight: 700;
                line-height: 2.2rem;
                margin-bottom: 1.4rem;
            }

            p {
                font-size: 1.1rem;
                font-weight: 500;
                line-height: 1.6rem;
                color: $c_txt_secondary;
            }
        }

        .ratings-container {
            margin-bottom: 2.5rem;

            .rating-wrapper {
                background-color: $c_bg_rating_card;
                padding: 1rem 0;
                border-radius: 8px;
                margin-bottom: 1rem;

                .stars {
                    margin-bottom: 1rem;
                }

                h2 {
                    font-size: 1.1rem;
                    font-weight: 700;
                }
            }
        }
    }

    .reviews-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;

        .review-card {
            background-color: $c_bg_client_review;
            border-radius: 8px;
            padding: 2rem;
            color: $c_txt_client_review;

            .profile-wrapper {
                display: flex;
                align-items: center;
                margin: 0.5rem 0 1.5rem;

                img {
                    border-radius: 50%;
                    margin-right: 1.5rem;
                    width: 40px;
                }

                .profile-detail {
                    
                    h3 {
                        font-weight: 500;
                        margin-bottom: 0.4rem;
                    }

                    .status {
                        font-weight: 500;
                        color: $c_txt_client_review_accentuate;
                        letter-spacing: 0.05rem;
                    }
                }
            }

            .review {
                font-size: 1.1rem;
                line-height: 1.5rem;
            }
        }
    }
}