/* ----------------------------------- COLORS ----------------------------------- */

$c_bg_body: hsl(0, 0%, 100%);
$c_bg_rating_card: hsl(300, 24%, 96%);
$c_bg_client_review:hsl(300, 43%, 22%);

$c_txt_main: hsl(300, 43%, 22%);
$c_txt_secondary: hsl(303, 10%, 53%);
$c_txt_client_review: hsl(300, 24%, 96%);
$c_txt_client_review_accentuate: hsl(333, 80%, 67%);